/*General*/

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  height : 100%;
  width: 100%;
  margin: 0 0;
  padding: 0;
  align-content: center;
}

/*Pages*/
/*home page*/



/*Components*/

/*Header and Footer related*/

header, footer {
  max-width: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 10px 20px #9f261d83;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #da291c;
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: 0 -10px 20px #9f261d83;
}


.edge-mini-bar {
  width: 100%;
  height: 10px;
  background-color: #9F261D;
}

header .edge-content, footer .edge-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background-color: #da291c;
}

footer p{
  margin: 0;
  padding: 0 20px;
  color: white;
}

header .edge-content img{
  height: 40px;
  width: auto;
  margin: 0 80px;
}

header .edge-content nav {
  display: flex;
  flex: 1;
  max-width: 600px;
  justify-content: space-around;
}

header .edge-content nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

/*Hero related*/

#hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: #f0f0f0;
}

#hero .hero-title {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;

}

#hero .hero-title h1 {
  top: 100px;
  left: 20px;
  font-size: 4rem;
  margin: 15px 0;
  color: #da291c;
}

#hero .hero-title p {
  top: 100px;
  left: 20px;
  margin: 0;
  color: #333333;
  font-size: 1.2rem;
}

#hero .text-box {
  height: 280px;
  width: 220px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.25);
  margin: auto 80px;
  color: #333333;
  font-size: 1.2rem;
}

.text-box p {
  padding: 15px;
  margin: 0;
}

/*About related*/

#about {
  width: 100%;
  height: 400px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  box-shadow: 0 -16px 24px rgb(51, 51, 51, 50%),
              0 16px 24px rgb(51, 51, 51, 50%);
}

#about .title {
  position: absolute;
  top: 15px;
  right: 90px;
}

#about .text-box {
  width: 650px;
  height: 250px;
  position: absolute;
  top: 140px;
  right: 90px;
}

#about .image-box p {
  border-radius: 50%;
  overflow:hidden
}

/*mywork related*/
#mywork .background {
  width: 100%;
  height: 800px;
  background-color: #9A998E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mywork .main-container {
  width: 800px;
  height: 600px;
  margin: 40px auto;
  border-radius: 20px;
  background-color: #f9f9f9;
}

#mywork h2 {
  padding: 20px 50px;
  color: #333333;
}

#mywork .project-preview-container {
  background-color: blueviolet;
  margin: 20px;
  height: 400px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #cccccc;

}

/*Prject Card*/
.project-card{
  background-color: #c98e8959;
  height: 170px;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 2px solid rgb(207, 174, 174);
  border-radius: 10px;
}

.project-card .title {
  font-size: 1.5rem;
  color: #333333;
  margin: 5px 10px;
}

.project-card .description {
  font-style: italic;
  font-size: 1rem;
  color: #666666;
  margin: 10px;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid rgb(207, 174, 174);
}